<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form action="" method="post">
        {% if full_name %}
        <p>Hello, {{full_name}}! </p>
        {% endif %}
        {% if full_login %}
        <p>Your login: {{full_login}}! </p>
        {% endif %}
        {% if full_password %}
        <p>Your password: {{full_password}}! </p>
        {% endif %}
        <p>
        <input type="submit" value="Exit">
        </p>

 </p>

    </form>
</head>
<body>

</body>
</html>